.auth-form-container,
.login-form {
  display: flex;
  flex-direction: column;
}
.auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  border: solid #08f0e0;
  margin-top: 5px;
  width: 571px;
  height: 495px;
  background-color: #54c3dc;
  border-radius: 10px;
  padding: 59px;
}

label {
  text-align: left;
  padding: 0.25rem 0;
  margin-top: 30px;
  background-color: #54c3dc;
}

input {
  width: 95%;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  height: 10px;
  margin-top: 20px;
}

button {
  border: none;
  background-color: red;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  margin-top: 50px;
}

.link-btn {
  background-color: red;
  background: none;
  color: white;
  text-decoration: underline;
}
.child2 {
  height: 30px;
  background-color: #54c3dc;
}
.para-color {
  background: red;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#email,
#password {
  height: 10px;
}
#AlreadyHaveAccount {
  border-radius: 4px;
  background: #78dc54;
}
.cross {
  color: #131a1a;
  width: 10px;
  height: 10px;
  position: relative;
  top: -50px;
  left: 600px;
  font-size: x-large;
  background-color: #54c3dc;
  cursor: pointer;
}
#login-text {
  border: 1px solid red;
  border-radius: 4px;
  color: #000000;
  position: relative;
  background: #b0f008;
  top: 50px;
}
/* update css */
