.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft,
.headerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

a>span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a>span:hover {
    color: rgb(0, 174, 255);
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}
.login__icon{
    width: 30px;
    height: 30px;
    /* filter: invert(100%); */
outline-color: white;
}
.sub-menu-wrap{
    margin-top: 40px;
    margin-right: 5px;
}
.headerRightOutside{
    display: flex;
    flex-direction: column;
}
.sub-menu{
text-align: right;}

