.seatNumber {
  font-size: larger;
  color: white;
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  background: green;
  color: white;
  /* margin-left: 100px; */
  position: relative;
  left: 0%;
}
.ticket-h {
  /* background-color: red; */
}
.ticket-body {
  top: 70px;
  width: 40%;
  position: relative;
  left: 40%;
}

/* update css */
