.seatNumber {
  font-size: larger;
  color: white;
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  background: green;
  color: white;
  position: relative;
  left: 0%;
}
#ticket-info-h {
  color: white;
}
.ticket-body {
  top: 20px;
  width: 40%;
  position: relative;
  left: 40%;
}
