.auth-form-container,
.register-form {
  display: flex;
  flex-direction: column;
}
.auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-form {
  border: solid #08f0e0;
  margin-top: 5px;
  width: 571px;
  height: 600px;
  background-color: #54c3dc;
  border-radius: 10px;
  padding: 59px;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  height: 10px;
  width: 100%;
}

#btn {
  border: none;
  background-color: yellow;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  width: 100%;
}

.link-btn {
  background-color: red;
  background: black;
  color: white;
  text-decoration: underline;
}
.para-color {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#form-name {
  background-color: #08f0e0;
}
.cross {
  color: #131a1a;
  width: 10px;
  height: 10px;
  position: relative;
  top: -50px;
  left: 600px;
  font-size: x-large;
  background-color: #54c3dc;
  cursor: pointer;
}
